body {
  font-family: sans-serif;
  background-color: white;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 1em;
  background-color: beige;
  border-radius: 20px;
}

div#nav-driver{
  flex: 0.5
}

div#nav-parent{
  flex: 0.5
} 

div#nav-driver{
  display: flex;
  justify-content: space-evenly;
}

div#nav-parent{
  display: flex;
  justify-content: space-evenly;
}

div#welcome-message{
  display: flex;
  padding: 1rem;
  margin: 1rem;
  justify-content: space-evenly;
}

div#home-driver{
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#home-driver select{
  padding: 0.5rem;
  margin: 0.5rem;
}

div#home-driver table{
  padding: 0.5rem;
  margin: 0.5rem;
}


table {
  border-collapse: collapse;
}

th,
td {
  border: 2px solid rgb(89, 89, 85);
}

th,
td {
padding: 5px;
text-align: center;
}

th{
  background-color: white;
}

tr{
  background-color:aliceblue ;
}

td{
  font-weight: bolder;
  color: black;
}

main#home-parent-main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

main#past-trips-parent-main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

form.date-selected > *{
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

section.route-school{
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.date-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.route-home{
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.past-trips-school{
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.past-trips-home{
  display: flex;
  flex-direction: column;
  align-items: center;
}

main#home-parent-main > *{
  margin: 1.5rem;
}

main#past-trips-parent-main > *{
  margin: 1.5rem;
}

form#login-form{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
}

form#login-form > *{
  padding: 0.5rem;
}

div.username-block{
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.username-block > * {
  padding: 0.2rem;
}

div.password-block{
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.password-block > * {
  padding: 0.2rem;
}

div#driving-entire-page > * {
  padding: 0.5rem;
}

div#map{
  height: 50vh;
  /* display: flex;
  align-items: center; */
}

div#bus-route h3{
  text-align: center;
}